
version: '3.8'

services:
  app:
    container_name: volleyviz-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always
    environment:
      - NODE_ENV=production
